<header>
      <section class="hero">
        <div class="texture-overlay"></div>
        <div class="container">
          <div class="row nav-wrapper">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
              <a href="#"><img src="_themes/main/img/logo_blue.png" alt="Dwight The Knight Logo"></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
              <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
            </div>
          </div>
          <div class="row hero-content">
            <div class="col-md-8">
              <h1>YOUR FINANCIAL KNIGHT IN SHINING ARMOR</h1>
            </div>
            <div class="col-md-4">
              <img src="_themes/main/img/dwight.png" alt="Dwight The Knight">
            </div>
          </div>
        </div>
      </section>
    </header>
    <section class="features-list" id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="col-md-4 feature-1 wp2">
              <div class="feature-icon">
                <i class="fa fa-usd"></i>
              </div>
              <div class="feature-content">
                <h1>Tax Debt</h1>
                <p>Our tax relief professionals are ready to create a personalized settlement program that will help you resolve your unpaid taxes</p>
                <a href="http://tympanus.net/codrops/?p=22554" class="use-btn">Get Started<i class="fa fa-chevron-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4 feature-2 wp2 delay-05s">
              <div class="feature-icon">
                <i class="fa fa-life-bouy"></i>
              </div>
              <div class="feature-content">
                <h1>Insurance</h1>
                <p>Explore the best Insurance plans, pricing and options that fit your life and needs to ensure you and your loved ones are protected</p>
                <a href="http://tympanus.net/codrops/?p=22554" class="use-btn">Get Started<i class="fa fa-chevron-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4 feature-3 wp2 delay-1s">
              <div class="feature-icon">
                <i class="fa fa-bank"></i>
              </div>
              <div class="feature-content">
                <h1>Mortgage</h1>
                <p>Mortgage rates remain at historic lows! Tap into our lender network to find out if you qualify and how much you can save.</p>
                <a href="http://tympanus.net/codrops/?p=22554" class="use-btn">Get Started<i class="fa fa-chevron-circle-right"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="video" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1><a href="http://www.youtube.com/embed/OifvTaAQ678?autoplay=1&wmode=opaque&fs=1" class="youtube-media"><i class="fa fa-play-circle-o"></i> Watch the Video</a></h1>
          </div>
        </div>
      </div>
    </section>
    <section class="showcase">
      <div class="showcase-wrap">
        <div class="texture-overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="device wp3">
              <img src="_themes/main/img/Dwight1_v2.png">
              </div>
            </div>
            <div class="col-md-6">
              <h1>Our Network</h1>
              <p>Dwight The Knight is where everyday consumers come to save money and ultimately empower their own financial freedom.</p>
              <p>Our national network of lenders, agents and service providers simplifies the tedious process of financial decision-making by offering free, no-obligation consultations and quotes that enable individuals to make the best decisions regarding their financial future.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="footer-logo">
            <img src="_themes/main/img/logo_blue.png" alt="Footer Logo Blue">
            </h1>
            <p><a href="http://cillamar">© Cillamar 2015</a></p>
          </div>
          <div class="col-md-3">
            <h3>About</h3>
            <p>Dwight The Knight is an advertising service that seeks to identify qualified consumers who require tax assistance and will refer you to companies it believes may help. All services performed by independent providers. Costs and results will vary. Services not available in all states. Check with provider for service limitations and qualifications.</p>
          </div>
          <div class="col-md-3">
            <h3>Contact Us</h3>
            <ul>
              <li>      
                <a href="https://www.google.com/maps/place/274+Redwood+Shores+Pkwy+%23441,+Redwood+City,+CA+94065/@37.5232472,-122.2522796,17z/data=!3m1!4b1!4m2!3m1!1s0x808f98a5c7054701:0xfb78acf1f13a697">
                  <div class="footer-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="footer-content">
                    <p>274 Redwood Shores Pkwy #441, Redwood City, CA 94065</p>
                  </div>
                </a>
              </li>
              <li>      
                <div class="footer-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="footer-content">
                  <p>800-123-4567</p>
                </div>
              </li>
              <li>      
                <a href="mail_to:admin@dwighttheknight.com">
                  <div class="footer-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="footer-content">
                    <p>admin@dwighttheknight.com</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Get in Touch</h3>
            <form>
              <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Join the Mailing
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </footer>
    <div class="overlay overlay-boxify">
      <nav>
        <ul>
          <li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
          <li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
        </ul>
        <ul>
          <li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
          <li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
        </ul>
        <ul>
          <li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
          <li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
        </ul>
      </nav>
    </div>