<header>
  <section class="hero service {{ slug }}">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
          <a class="logo" href="{{ _site_root }}"><img src="{{ path src="_themes/main/img/logo.png" }}" alt="Dwight The Knight Logo"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon white">
          <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="hero-content">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h2>{{ call_to_action }}</h2>
            <h2 class="phone">{{ phone_number }}</h2>
            <p>{{ details }}</p>
          </div>
          <div class="col-md-6">
            <h2>{{ call_to_action_form }}</h2>
            <div class="form-container">

            {{ theme:partial src="form_insurance_final" }}

            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</header>

{{ theme:partial src="feature-list-no-animate" }}

{{ theme:partial src="footer" }}

{{ theme:partial src="nav_overlays" }}
