<section class="features-list" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 feature-1 wp2">
          {{ nav from="/" exclude="insurance|mortgage" }}
            <div class="feature-icon">
              <a href="{{ url }}">
                <i class="fa {{ icon }}"></i>
              </a>
            </div>
          <div class="feature-content">

            <h1>{{ title }}</h1>
            <p>{{ summary }}</p>
          </div>
          {{ /nav }}
        </div>
        <div class="col-md-4 feature-2 wp2 delay-05s">
           {{ nav from="/" exclude="tax_debt|mortgage" }}
            <div class="feature-icon">
              <a href="#" class="insurance-toggle">
                <i class="fa {{ icon }}"></i>
              </a>
            </div>
          <div class="feature-content">

            <h1>{{ title }}</h1>
            <p>{{ summary }}</p>
          </div>
          {{ /nav }}
        </div>
        <div class="col-md-4 feature-3 wp2 delay-1s">
        {{ nav from="/" exclude="insurance|tax_debt" }}
            <div class="feature-icon">
              <a href="{{ url }}">
                <i class="fa {{ icon }}"></i>
              </a>
            </div>
          <div class="feature-content">
      
            <h1>{{ title }}</h1>
            <p>{{ summary }}</p>
          </div>
        {{ /nav }}
        </div>
      </div>
    </div>
    <!-- Separate links to maintain even horizontal height on buttons -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 feature-1 wp2">
          {{ nav from="/" exclude="insurance|mortgage" }}
          <div class="feature-content">
            <a href="{{ url }}" class="use-btn">Get Started<i class="fa fa-chevron-circle-right"></i></a>
          </div>
          {{ /nav }}
        </div>
        <div class="col-md-4 feature-2 wp2 delay-05s">
          <div class="feature-content">
            <a href="#" class="use-btn insurance-toggle">Get Started<i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4 feature-3 wp2 delay-1s">
        {{ nav from="/" exclude="insurance|tax_debt" }}
          <div class="feature-content">
            <a href="{{ url }}" class="use-btn">Get Started<i class="fa fa-chevron-circle-right"></i></a>
          </div>
        {{ /nav }}
        </div>
      </div>
    </div>
  </div>
</section>