<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="footer-logo">
            <img src="{{ path src="_themes/main/img/logo_blue.png" }}" alt="Footer Logo Blue">
            </h1>
            <p>&copy; {{ current_date format="Y"}}<a href="http://cillamar.com"> Cillamar</a>. All Rights Reserved.</p>
          </div>
          <div class="col-md-3">
            <h3>About</h3>
            <p>Dwight The Knight is an advertising service that seeks to identify qualified consumers who require tax assistance and will refer you to companies it believes may help. All services performed by independent providers. Costs and results will vary. Services not available in all states. Check with provider for service limitations and qualifications.</p>
          </div>
          <div class="col-md-3">
            <h3>Contact Us</h3>
            <ul>
              <li>      
                <a href="https://www.google.com/maps/place/274+Redwood+Shores+Pkwy+%23441,+Redwood+City,+CA+94065/@37.5232472,-122.2522796,17z/data=!3m1!4b1!4m2!3m1!1s0x808f98a5c7054701:0xfb78acf1f13a697">
                  <div class="footer-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="footer-content">
                    <p>274 Redwood Shores Pkwy #441, Redwood City, CA 94065</p>
                  </div>
                </a>
              </li>
              <li>      
                <a href="mail_to:admin@dwighttheknight.com">
                  <div class="footer-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="footer-content">
                    <p>admin@dwighttheknight.com</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Engage With Us</h3>
              <li>      
                <a href="{{ globals:linkedin }}">
                  <div class="footer-icon">
                    <i class="fa fa-linkedin"></i>
                  </div>
                  <div class="footer-content">
                    <p>LinkedIn</p>
                  </div>
                </a>
              </li>
              <li>      
                <a href="{{ globals:facebook }}">
                  <div class="footer-icon">
                    <i class="fa fa-facebook"></i>
                  </div>
                  <div class="footer-content">
                    <p>facebook</p>
                  </div>
                </a>
              </li>
              <li>      
                <a href="{{ globals:twitter }}">
                  <div class="footer-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="footer-content">
                    <p>Twitter</p>
                  </div>
                </a>
              </li>
          </div>
        </div>
      </div>


    </footer>