<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="footer-logo">
            <img src="{{ path src="_themes/main/img/logo_blue.png" }}" alt="Footer Logo Blue">
            </h1>
            <p>&copy; {{ current_date format="Y"}}<a href="http://cillamar.com"> Cillamar</a>. All Rights Reserved.</p>
            <p>
              <a href="#" data-toggle="modal" data-target="#legalDisclaimer">Legal Disclaimer</a>
            </p>
            <p>
              <a href="#" data-toggle="modal" data-target="#privacyPolicy">Privacy Policy</a>
            </p>
          </div>
          <div class="col-md-3">
            <h3>About</h3>
            <p>{{ globals:about }}</p>
          </div>
          <div class="col-md-3">
            <h3>Contact Us</h3>
            <ul>
              <li>      
                <a target=_blank href="{{ globals:address_link }}">
                  <div class="footer-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="footer-content">
                    <p>{{ globals:address }}</p>
                  </div>
                </a>
              </li>
              <li>      
                <a href="mail_to:a{{ globals:email_link }}">
                  <div class="footer-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="footer-content">
                    <p>{{ globals:email }}</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Engage With Us</h3>
              <li>      
                <a target=_blank href="{{ globals:linkedin }}">
                  <div class="footer-icon">
                    <i class="fa fa-linkedin"></i>
                  </div>
                  <div class="footer-content">
                    <p>LinkedIn</p>
                  </div>
                </a>
              </li>
              <li>      
                <a target=_blank href="{{ globals:facebook }}">
                  <div class="footer-icon">
                    <i class="fa fa-facebook"></i>
                  </div>
                  <div class="footer-content">
                    <p>facebook</p>
                  </div>
                </a>
              </li>
              <li>      
                <a target=_blank href="{{ globals:twitter }}">
                  <div class="footer-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="footer-content">
                    <p>Twitter</p>
                  </div>
                </a>
              </li>
          </div>
        </div>
      </div>
    </footer>

<div class="modal fade" id="legalDisclaimer" tabindex="-1" role="dialog" aria-labelledby="legalDisclaimer" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Legal Disclaimer</h4>
      </div>
      <div class="modal-body">
        {{ globals:legal_disclaimer }}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="privacyPolicy" tabindex="-1" role="dialog" aria-labelledby="privacyPolicy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
      </div>
      <div class="modal-body">
        {{ globals:privacy_policy }}
      </div>
    </div>
  </div>
</div>
