/**
*
* Global
*
**/
// @include border-box-sizing;


$small: 768px;
$medium: 992px;
$large: 1170px;


// @include establish-baseline;

* {
  margin: 0;
  padding: 0
}



html, body {

}

html {
  height: 100%;
}

body {
  min-height: 100%;
  @include breakpoint(medium) {

  }
}

.body-wrapper {

}

.container {

}

.stuck {
  position: fixed;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: $base-font-color;
  &:hover,&:focus {
    color: $base-font-color;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.centered {
  margin: 0 auto;
  text-align: center;
  img {
    max-width: 80%;
  }
    padding-top: 0;
    padding-bottom: 0;
  @include breakpoint(small) {

  }
  h1,h2,h3,h4,span,p,a,img, li {
    text-align: center;
  }
}

section {
  padding-top: 15px;
  padding-bottom: 15px;
  @include breakpoint(small) {

  }
}




