/* ==========================================================================
Download Now
========================================================================== */
.download {
    padding: 120px 0;
    background-color: #3f6184;
}
.download h1 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 400;
    font-size: 40px;
}