/* ==========================================================================
Features List
========================================================================== */
.features-list {
    padding: 100px 0;
    * {
        text-align: center;
    }
}
.features-list h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #24374b;
    font-size: 20px;
}
.features-list p {
    margin-bottom: 20px;
    color: #778899;
}
.feature-content {
    display: inline-block;
    margin-left: 0;
    width: 65%;
    .fa {
        margin-left: 10px;
    }
}
.feature-icon {
    display: block;
    margin: 0 auto 20px;
    width: 90px;
    height: 90px;
    border: solid 2px $dark-blue;;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
}
.feature-icon i {
    color: $dark-blue;
}