/* ==========================================================================
Features List
========================================================================== */
.features-list {
    padding: 130px 0
}
.features-list h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #24374b;
    font-size: 20px;
}
.features-list p {
    margin-bottom: 20px;
    color: #778899;
}
.feature-content {
    display: inline-block;
    margin-left: 0;
    width: 65%;
}
.feature-icon {
    display: inline-block;
    margin-right: 25px;
    width: 90px;
    height: 90px;
    border: solid 2px #4e9ba3;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
}
.feature-icon i {
    color: #4e9ba3
}