/* ==========================================================================
Footer
========================================================================== */
footer {
    padding: 20px 0;
}
footer p {
    color: #c7cacc;
    font-size: 12px;
    display: inline-block;
    line-height: 18px;
}
footer ul {
    margin-top: 30px
}
footer li {
    margin-bottom: 10px;
    list-style: none;

}
footer li a {
    color: #3f6184;
    display: block;
}
footer li:last-child {
    margin-right: 0
}

footer li:hover {
    transition: .25s all;
    .footer-icon, p {
        color: $dark-blue;
    }
    .footer-icon {
        border: 2px solid $dark-blue;
    }
}

.footer-logo {
    display: none;
    @include breakpoint(small) {
        display: block;
    }
}

.footer-icon {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: solid 2px $gray;
    color: $gray;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    float: left;
}

.footer-content {
    display: inline-block;
    margin-left: 0;
    width: 80%;
    p {
        margin-top: 0;
    }
}

footer label {
    color: $gray;
}